# Cookiecutter ID translation demo

The main entry point is the `id_translation.translate()`-method, which should be enough for mose use cases. When working manually, the `id_translation.map()` and `id_translation.map_scores()` may be of interest as well.

In [1]:
from big_corporation_inc import id_translation

## Logging
The `id_translation` namespace loggers default to the `WARNING` level, unless explicitly set. The `enable_verbose_debug_messages()` convenince function creates a custom handler if logging hasn't been set up in some other way (e.g. using `logging.basicConfig()`). The leading hexadecimal number is the `task_id`. The the [`id-translation` logging docs](https://id-translation.readthedocs.io/en/stable/documentation/translation-logging.html) for more details.

In [2]:
from id_translation.logging import enable_verbose_debug_messages

enable_verbose_debug_messages(level="INFO")  # Can also be used as a context.

In [3]:
singleton = id_translation.get_singleton()

singleton.initialize_sources()  # Explicit call; for clarity.

[ðŸ¦‹ 0x4497] [00:34:55.198575] [INFO] [âœ… SqlFetcher.initialize_sources] Finished initialization of 'SqlFetcher' in 159 ms: SqlFetcher('postgresql+pg8000://postgres:***@localhost:5002/sakila', sources=['payment', 'film', 'category', 'rental', 'store', 'actor', 'staff', 'customer', 'inventory'])
[ðŸ¦‹ 0x4497] [00:34:55.288388] [INFO] [âœ… SqlFetcher.initialize_sources] Finished initialization of 'SqlFetcher' in 89 ms: SqlFetcher('postgresql+pg8000://postgres:***@localhost:5002/sakila', whitelist=['city', 'address', 'language', 'country'])

Translator(online=True: fetcher=MultiFetcher(max_workers=2, fetchers=[
    SqlFetcher('postgresql+pg8000://postgres:***@localhost:5002/sakila', sources=['payment', 'film', 'category', 'rental', 'store', 'actor', 'staff', 'customer', 'inventory']),
    SqlFetcher('postgresql+pg8000://postgres:***@localhost:5002/sakila', whitelist=['city', 'address', 'language', 'country']),
]))

# Available data

In [4]:
for source, placeholders in singleton.placeholders.items():
    print(f"Placeholders for {source=}:")
    print(f"    {placeholders[:6]}")

Placeholders for source='payment':
    ['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
Placeholders for source='film':
    ['film_id', 'title', 'description', 'release_year', 'language_id', 'original_language_id']
Placeholders for source='category':
    ['category_id', 'name', 'last_update']
Placeholders for source='rental':
    ['rental_id', 'rental_date', 'inventory_id', 'customer_id', 'return_date', 'staff_id']
Placeholders for source='store':
    ['store_id', 'manager_staff_id', 'address_id', 'last_update']
Placeholders for source='actor':
    ['actor_id', 'first_name', 'last_name', 'last_update']
Placeholders for source='staff':
    ['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id']
Placeholders for source='customer':
    ['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id']
Placeholders for source='inventory':
    ['inventory_id', 'film_id', 'store_id', 'last_update']
Placeholders for source='city':
    ['city_id', 'city', 'country_id', 'last_update']
Placeholders for source='address':
    ['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code']
Placeholders for source='language':
    ['language_id', 'name', 'last_update']
Placeholders for source='country':
    ['country_id', 'country', 'last_update']

## Integrations
The `Translator` has support for built-in collections, as well as about types such as the `pandas.DataFrame`.

In [5]:
import pandas as pd

one = [[1] * len(singleton.sources)]
first = pd.DataFrame(one, columns=map("{}_id".format, singleton.sources))
first

,payment_id,film_id,category_id,rental_id,store_id,actor_id,staff_id,customer_id,inventory_id,city_id,address_id,language_id,country_id
0,1,1,1,1,1,1,1,1,1,1,1,1,1

The included config doesn't add `name`-column mappings for all tables. To avoid a crash, let's use a temporary format in which the name is optional.

In [6]:
id_translation.translate(first, fmt="{id}[:{name}]")

[ðŸ«š 0x4039] [00:34:55.323077] [INFO] [âœ… Translator.map] Finished mapping of 13/13 names in 'DataFrame' in 3 ms: {'rental_id': 'rental', 'inventory_id': 'inventory', 'actor_id': 'actor', 'customer_id': 'customer', 'category_id': 'category', 'address_id': 'address', 'language_id': 'language', 'staff_id': 'staff', 'city_id': 'city', 'payment_id': 'payment', 'film_id': 'film', 'store_id': 'store', 'country_id': 'country'}.
[ðŸ«š 0x4039] [00:34:55.346286] [INFO] [âœ… SqlFetcher.fetch] Finished fetching from 4 sources in 17 ms: ['city' x ('id', 'name') x 1/1 IDs], ['address' x ('id', 'name') x 1/1 IDs], ['language' x ('id', 'name') x 1/1 IDs], ['country' x ('id', 'name') x 1/1 IDs].
[ðŸ«š 0x4039] [00:34:55.368187] [INFO] [âœ… SqlFetcher.fetch] Finished fetching from 9 sources in 43 ms: ['payment' x ('id',) x 1/1 IDs], ['film' x ('id',) x 1/1 IDs], ['category' x ('id', 'name') x 1/1 IDs], ['rental' x ('id',) x 1/1 IDs], ['store' x ('id',) x 1/1 IDs], ['actor' x ('id', 'name') x 1/1 IDs], ['staff' x ('id', 'name') x 1/1 IDs], ['customer' x ('id', 'name') x 1/1 IDs], ['inventory' x ('id',) x 1/1 IDs].
[ðŸ«š 0x4039] [00:34:55.377895] [INFO] [âœ… Translator.translate] Finished translation of 13 unique IDs (13 names) in 'DataFrame' in 58 ms.

,payment_id,film_id,category_id,rental_id,store_id,actor_id,staff_id,customer_id,inventory_id,city_id,address_id,language_id,country_id
0,1,1,1:Action,1,1,1:PENELOPE,1:Mike,1:MARY,1,1:A Corua (La Corua),1:47 MySakila Drive,1:English,1:Afghanistan

Let's focus on tables that support our preferred **`{id}:{name}`** translation format.

In [7]:
columns = [
    "actor_id",
    "address_id",
    "category_id",
    "city_id",
    "country_id",
    "customer_id",
]
first = first[columns]
first

   actor_id  address_id  category_id  city_id  country_id  customer_id
0         1           1            1        1           1            1

In [8]:
id_translation.translate(first)

[ðŸŽƒ 0x1c93] [00:34:55.400075] [INFO] [âœ… Translator.map] Finished mapping of 6/6 names in 'DataFrame' in 493 Î¼s: {'actor_id': 'actor', 'category_id': 'category', 'address_id': 'address', 'city_id': 'city', 'customer_id': 'customer', 'country_id': 'country'}.
[ðŸŽƒ 0x1c93] [00:34:55.413381] [INFO] [âœ… SqlFetcher.fetch] Finished fetching from 3 sources in 10 ms: ['address' x ('id', 'name') x 1/1 IDs], ['city' x ('id', 'name') x 1/1 IDs], ['country' x ('id', 'name') x 1/1 IDs].
[ðŸŽƒ 0x1c93] [00:34:55.415983] [INFO] [âœ… SqlFetcher.fetch] Finished fetching from 3 sources in 14 ms: ['actor' x ('id', 'name') x 1/1 IDs], ['category' x ('id', 'name') x 1/1 IDs], ['customer' x ('id', 'name') x 1/1 IDs].
[ðŸŽƒ 0x1c93] [00:34:55.421573] [INFO] [âœ… Translator.translate] Finished translation of 6 unique IDs (6 names) in 'DataFrame' in 22 ms.

,actor_id,address_id,category_id,city_id,country_id,customer_id
0,1:PENELOPE,1:47 MySakila Drive,1:Action,1:A Corua (La Corua),1:Afghanistan,1:MARY

# Singleton namespace
The top-level `big_corporation_inc.id_translation`-namespace exposes only the most important functions. More convenience functions for the singleton are available in the the `singleton` submodule.

## Mapping
Mapping is done automatically when calling `translate()`, but can also be done manually when needed.

In [9]:
id_translation.singleton.map(first)

[ðŸª» 0x494a] [00:34:55.430672] [INFO] [âœ… Translator.map] Finished mapping of 6/6 names in 'DataFrame' in 637 Î¼s: {'actor_id': 'actor', 'category_id': 'category', 'address_id': 'address', 'city_id': 'city', 'customer_id': 'customer', 'country_id': 'country'}.

{'actor_id': 'actor',
 'category_id': 'category',
 'address_id': 'address',
 'city_id': 'city',
 'customer_id': 'customer',
 'country_id': 'country'}

The `translate()`-method will accept a name-to-source mapping as the `names` argument.

```python
my_source = "actor"
names = {"actor_id": my_source, "customer_id": my_source}
```
Passing this mapping will map only the `actor_id` and `customer_id` columns, using the same `source='actor'` for both.

In [10]:
id_translation.translate(
    first,
    names={"actor_id": "actor", "customer_id": "actor"},
)

[ðŸ«Ž 0xfdec] [00:34:55.438016] [INFO] [âœ… Translator.map] Finished mapping of 2/2 names in 'DataFrame' in 79 Î¼s: {'actor_id': 'actor', 'customer_id': 'actor'}.
[ðŸ«Ž 0xfdec] [00:34:55.443645] [INFO] [âœ… SqlFetcher.fetch] Finished fetching from 1 sources in 4 ms: ['actor' x ('id', 'name') x 1/1 IDs].
[ðŸ«Ž 0xfdec] [00:34:55.446423] [INFO] [âœ… Translator.translate] Finished translation of 1 ID (2 names) in 'DataFrame' in 9 ms.

     actor_id  address_id  category_id  city_id  country_id customer_id
0  1:PENELOPE           1            1        1           1  1:PENELOPE

Finally, you the actual scores used to make the mappings may be obtained by using the `map_scores()`-method. Higher is better. 

For filters and overrides, positive and negative infinity are used.

In [11]:
id_translation.singleton.map_scores(first).to_pandas().round(3)

candidates,payment,film,category,rental,store,actor,staff,customer,inventory,city,address,language,country
values,,,,,,,,,,,,,
actor_id,0.000,-0.005,0.121,0.092,-0.010,0.988,-0.001,0.114,-0.009,0.114,0.069,-0.003,0.064
address_id,0.083,-0.005,-0.004,-0.008,0.023,-0.012,0.032,0.052,0.047,-0.011,0.998,0.054,-0.007
category_id,0.000,-0.005,0.996,0.048,0.090,-0.012,-0.001,0.119,0.178,0.039,-0.002,0.122,0.136
city_id,0.000,0.245,0.134,-0.008,-0.010,0.113,-0.001,0.065,0.034,0.989,-0.002,0.063,0.136
country_id,0.000,-0.005,0.139,0.159,0.057,0.055,-0.001,-0.006,0.097,0.052,-0.002,0.034,0.993
customer_id,0.000,-0.005,0.121,0.020,-0.010,0.038,-0.001,0.994,-0.009,-0.011,0.054,-0.003,-0.007